body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: auto;
    margin: 0;
}

.image-container {
    text-align: center;
}

.image-link {
    display: block;
    margin-bottom: 10px;
}

.worksheetimage {
    border: 2px solid pink;
    width: 300px;

}