body{
    background-color: lightskyblue;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center
}

button {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    padding: 10px;
    margin: 2px;
    transition-duration: .1s;
   }
   
   button:active {
       background-color: rgb(237, 236, 254);
       box-shadow: 0 5px rgb(167, 175, 248);
       transform: translateY(4px);
   }
.container-navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
